<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
    <!--SpringMVC注解驱动启动-->
    <!--自动注册，映射程序，和适配器程序-->
    <mvc:annotation-driven/>

    <!--分发到以下包的控制器（Servlet）-->
    <!--启动注解生成bean对象-->
    <context:component-scan base-package="com.wyr.controller"/>
  
    <!--Sevrlet拦截，释放资源-->
    <mvc:resources mapping="/util/css/**" location="/util/css/"/>
    <mvc:resources mapping="/util/js/**" location="/util/js/"/>
    <mvc:resources mapping="/util/img/**" location="/util/img/"/>
    
    <!--视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    

</beans>